* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-weight: 700;
   background-color:rgb(245, 238, 231);
}

.wrapper {
   max-width: 100vw;
   height: 100vh;
   margin: 0 auto;
   padding: 2.5rem 0;
}

.accordion {
   width: 50%;
   height: 100%;
   margin: 0 auto;
}

.accordion-header {
   margin-bottom: 1.2rem;
}

.accordion-header__text {
   font-size: 1.7rem;
   font-weight: 700;
}

@media (min-width: 568px) {
   .accordion-header__text {
      font-size: 1.8rem;
      font-weight: 800;
   }
}

@media (min-width: 820px) {
   .accordion-header__text {
      font-size: 1.9rem;
   }
}

@media  screen and (min-width: 1200px) {
   .accordion-header__text {
      font-size: 2.3rem;
   }
}

.accordion-item__input {
   display: none;
}

.accordion-item__input:checked ~.accordion-item__trigger .accordion-item__close {
   transform: rotate(45deg);
   transition: all 0.6s ease-in-out;
}

.accordion-item__input:checked ~.accordion-item__trigger .accordion-item__trigger-text {
   color: #000;
}

.accordion-item__input:checked ~.accordion-item__content {
   max-height: 25rem;
   opacity: 1;
   visibility: visible;
}

.accordion-item__input:checked ~.accordion-item__content .accordion-item__image {
   opacity: 1;
   max-height: 25rem;
   transition: all 1s ease-in-out;
}

.accordion-item__trigger {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.2rem;
   padding-left: 0rem;
   border-top: 0.05rem solid rgb(142, 142, 142);
   cursor: pointer;
}

.accordion-item__trigger-text {
   font-size: 1rem;
   font-weight: 700;
}

@media (min-width: 568px) {
   .accordion-item__trigger-text {
      font-size: 1.1rem;
      font-weight: 800;
   }
}

@media (min-width: 820px) {
   .accordion-item__trigger-text {
      font-size: 1.2rem;
   }
}

@media  screen and (min-width: 1200px) {
   .accordion-item__trigger-text {
      font-size: 1.3rem;
   }
}

.accordion-item__trigger-text {
   padding-right: 0.4rem;
   color: rgb(0, 0, 231);
}

.accordion-item__close {
   margin: 0 right;
   font-weight: 200;
   font-size: 1.2rem;
   padding: 0.3rem;
}

@media (min-width: 568px) {
   .accordion-item__close {
      font-size: 1.3rem;
   }
}

@media (min-width: 820px) {
   .accordion-item__close {
      font-size: 1.3rem;
   }
}

@media  screen and (min-width: 1200px) {
   .accordion-item__close {
      font-size: 1.4rem;
   }
}

.accordion-item__content {
   border-top: none;
   opacity: 0;
   cursor: pointer;
   max-height: 0;
   transition: all 0.6s ease-in-out 0s;
   visibility: hidden;
   display: block;
}

.accordion-item__image {
   width: 30%;
   margin: 0 auto;
   max-height: 100%;
   display: block;
   padding-bottom: 1rem;
}

@media  screen and (min-width: 1200px) {
   .accordion:hover > .accordion-item .accordion-item__trigger .accordion-item__close {
      opacity: 1;
      transition: all 0.6s ease-in-out;
   }
   
   .accordion:hover .accordion-item__trigger .accordion-item__trigger-text {
      color: #000;
   }

   .accordion-item:hover .accordion-item__trigger .accordion-item__close {
      transform: rotate(45deg);
   } 

   .accordion-item__input:hover ~.accordion-item__trigger .accordion-item__close {
      transform: rotate(45deg);
   }
   
   .accordion-item__input:hover ~.accordion-item__content {
      max-height: 25rem;
      opacity: 1;
      visibility: visible;
   }
   
   .accordion-item__input:hover ~.accordion-item__content  .accordion-item__image {
      opacity: 1;
      max-height: 25rem;
      transition: all 1s ease-in-out;
   }

   .accordion-item__content:hover ~.accordion-item__content  .accordion-item__image {
      opacity: 1;
      max-height: 25rem;
      transition: all 1s ease-in-out;
   }
   
   .accordion-item__content:hover {
      max-height: 25rem;
      opacity: 1;
      visibility: visible;
      transition: all 0.6s ease-in-out;
   }
}



